*,
*::before,
*::after {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
:root {
  --text-color: #212121;
  --main-color: #2196f3;
  --little-text-color: #757575;
}
/* HEADER */
.header-navigation {
  border-bottom: 1px solid #ececec;
  display: flex;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.navigation-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
}
.navigation-list .navigation-pages + .navigation-pages {
  margin-left: 50px;
}
.navigation-web-studio {
  margin-right: 85px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.navigation-web-studio span {
  color: var(--main-color);
}
.navigation-pages a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s ease-in;
}
.navigation-pages a:hover,
.navigation-pages a:focus {
  color: var(--main-color);
  text-decoration: underline;
}
.navigation-contacts {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navigation-contacts .contact-us + .contact-us {
  margin-left: 30px;
}
.nav-tel,
.nav-mail {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--little-text-color);
  text-decoration: none;
  transition: 0.3s ease-in;
}
.contact-us a:hover,
.contact-us a:focus {
  color: var(--main-color);
}
.contact-us img {
  margin-right: 10px;
}

.header-main-content {
  height: 600px;
  background-image: url("../img/1st/Header-img.png");
  background-repeat: no-repeat;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 10;
}
.header-main-content::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  height: 600px;
  z-index: 1;
}
.header-title {
  position: inherit;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
  z-index: 11;
}
.header-title-button {
  display: inline-block;
  position: inherit;
  min-width: 200px;
  padding: 10px 32px 10px 32px;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-decoration: none;
  z-index: 12;
}

/* MAIN */
.main-info {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-advantages {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}
.main-list {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}
.main-list li {
  width: calc(100% / 4);
  text-align: left;
  margin-right: 30px;
}
.main-list li:last-child {
  margin-right: 0px;
}
.main-advantages h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}
.main-advantages p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--little-text-color);
}
.main-list h2 {
  margin-bottom: 10px;
}
.details-logo {
  width: 270px;
  height: 120px;
  background-image: url("../img/1st/antenna-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.punctuality-logo {
  width: 270px;
  height: 120px;
  background-image: url("../img/1st/clock-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.plan-logo {
  width: 270px;
  height: 120px;
  background-image: url("../img/1st/diagram-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.tech-logo {
  width: 270px;
  height: 120px;
  background-image: url("../img/1st/astronaut-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
/* main-what-we-do */
.what-we-do-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.main-what-we-do {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.what-we-do-list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.main-desktop {
  width: calc(100% / 3);
  margin-right: 30px;
  position: relative;
}
.main-desktop:last-child {
  margin-right: 0;
}

.main-desktop::before {
  content: "";
  min-width: 370px;
  height: 71px;
  bottom: 3px;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
}
.main-desktop p {
  min-width: 200px;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 31px;
  left: 0;
  right: 0;
}

.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  height: 702px;
}
.team-title {
  margin-top: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-top: 94px;
  margin-bottom: 50px;
}
.team-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.team-card {
  width: calc(100% / 4);
  margin-right: 30px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team-card:last-child {
  margin-right: 0;
}
.team-card h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-card p {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--little-text-color);
}
.team-social {
  justify-content: center;
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-bottom: 24px;
}
.team-social li:not(:last-child) {
  margin-right: 10px;
}
.instagram a {
  width: 44px;
  height: 44px;
  background-image: url("../img/social/instagram-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  background-size: 20px 20px;
  display: block;
}
.instagram a:hover,
.instagram a:focus {
  border-radius: 20px;
  background-color: var(--main-color);
}
.twitter a {
  width: 44px;
  height: 44px;
  background-image: url("../img/social/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  background-size: 20px 20px;
  display: block;
}
.twitter a:hover,
.twitter a:focus {
  border-radius: 20px;
  background-color: var(--main-color);
}
.facebook a {
  width: 44px;
  height: 44px;
  background-image: url("../img/social/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  background-size: 20px 20px;
  display: block;
}
.facebook a:hover,
.facebook a:focus {
  border-radius: 20px;
  background-color: var(--main-color);
}
.IN a {
  width: 44px;
  height: 44px;
  background-image: url("../img/social/linkedin.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  background-size: 20px 20px;
  display: block;
}
.IN a:hover,
.IN a:focus {
  border-radius: 20px;
  background-color: var(--main-color);
}
.footer {
  width: 100%;
  padding-top: 94px;
}
.footer-clients {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}
.footer-company {
  min-width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-align: center;
  margin-right: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer-company:last-child {
  margin-right: 0;
}
.footer h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
}

.footer-contacts {
  min-height: 253px;
  background-color: #2f303a;
}
.footer-navigation {
  width: 1200px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}
.footer-web-studio {
  display: block;
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.footer-web-studio span {
  color: var(--main-color);
}
.footer-adress {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  list-style: none;
}
.footer-tel,
#mail {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
#mail {
  display: block;
  margin-bottom: 9px;
  margin-top: 9px;
}
.footer-social p {
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list {
  display: flex;
}
.social-list div {
  margin-right: 10px;
}
.social-list div:last-child {
  margin-right: 0;
}
.footer-instagram a {
  width: 44px;
  height: 44px;
  background-image: url("../img/social/instagram2.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px 20px;
  display: block;
}
.footer-instagram a:hover,
.footer-instagram a:focus {
  border-radius: 20px;
  background-color: var(--main-color);
}
.footer-twitter a {
  width: 44px;
  height: 44px;
  background-image: url("../img/social/twitter2.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px 20px;
  display: block;
}
.footer-twitter a:hover,
.footer-twitter a:focus {
  border-radius: 20px;
  background-color: var(--main-color);
}
.footer-facebook a {
  width: 44px;
  height: 44px;
  background-image: url("../img/social/facebook2.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px 20px;
  display: block;
}
.footer-facebook a:hover,
.footer-facebook a:focus {
  border-radius: 20px;
  background-color: var(--main-color);
}
.footer-IN a {
  width: 44px;
  height: 44px;
  background-image: url("../img/social/linkedin2.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px 20px;
  display: block;
}
.footer-IN a:hover,
.footer-IN a:focus {
  border-radius: 20px;
  background-color: var(--main-color);
}
.footer-form {
  display: flex;
  align-items: center;
}
.footer-form p {
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.input-text {
  margin-right: 12px;
  display: flex;
}
.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.submmit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: 10px;
  min-width: 200px;
  min-height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer-line {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-copyright {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}
